# Socket connection with serialization

### Server

In [3]:
using Sockets, Serialization, AppliGeneralLedger, DataFrames, Query

In [4]:
@async begin
    server = listen(IPv4(0), 2015)
    while true
        sock = accept(server)
        @async while isopen(sock)
            y = deserialize(sock)
            AppliGeneralLedger.process(y; path_journal="./test_journal.txt", path_ledger="./test_ledger.txt")
        end
    end
end

#wait(Condition())

Task (failed) @0x00007fe2c3e4f0a0
IOError: listen: address already in use (EADDRINUSE)
Stacktrace:
 [1] uv_error
   @ ./libuv.jl:97 [inlined]
 [2] #listen#13
   @ /buildworker/worker/package_linux64/build/usr/share/julia/stdlib/v1.6/Sockets/src/Sockets.jl:632 [inlined]
 [3] #listen#10
   @ /buildworker/worker/package_linux64/build/usr/share/julia/stdlib/v1.6/Sockets/src/Sockets.jl:625 [inlined]
 [4] #listen#12
   @ /buildworker/worker/package_linux64/build/usr/share/julia/stdlib/v1.6/Sockets/src/Sockets.jl:629 [inlined]
 [5] listen
   @ /buildworker/worker/package_linux64/build/usr/share/julia/stdlib/v1.6/Sockets/src/Sockets.jl:629 [inlined]
 [6] macro expansion
   @ ./In[4]:2 [inlined]
 [7] (::var"#5#7")()
   @ Main ./task.jl:406

In [5]:
r = AppliGeneralLedger.read_from_file("./test_ledger.txt")
df = DataFrame(r)

13×8 typename(DataFrame). Omitted printing of 5 columns
│ Row │ id              │ accountid │ date                                │
│     │ String          │ Int64     │ Dates.DateTime                      │
├─────┼─────────────────┼───────────┼─────────────────────────────────────┤
│ 1   │ 2021-08-20-1001 │ 1300      │ DateTime("2021-08-20T11:31:00.884") │
│ 2   │ 2021-08-20-1001 │ 8000      │ DateTime("2021-08-20T11:31:00.884") │
│ 3   │ 2021-08-20-1001 │ 4000      │ DateTime("2021-08-20T11:31:00.884") │
│ 4   │ 2021-08-20-1002 │ 1300      │ DateTime("2021-08-20T11:31:00.884") │
│ 5   │ 2021-08-20-1002 │ 8000      │ DateTime("2021-08-20T11:31:00.884") │
│ 6   │ 2021-08-20-1002 │ 4000      │ DateTime("2021-08-20T11:31:00.884") │
│ 7   │ 2021-08-20-1003 │ 1300      │ DateTime("2021-08-20T11:31:00.884") │
│ 8   │ 2021-08-20-1003 │ 8000      │ DateTime("2021-08-20T11:31:00.884") │
│ 9   │ 2021-08-20-1003 │ 4000      │ DateTime("2021-08-20T11:31:00.884") │
│ 10  │ 2021-08-20-1004 │ 1150      │ DateTime("2021-08-20T11:33:09.707") │
│ 11  │ 2021-08-20-1004 │ 1300      │ DateTime("2021-08-20T11:33:09.707") │
│ 12  │ 2021-08-20-1005 │ 1150      │ DateTime("2021-08-20T11:33:09.707") │
│ 13  │ 2021-08-20-1005 │ 1300      │ DateTime("2021-08-20T11:33:09.707") │

In [6]:
df2 = r |> @filter(_.accountid == 1300) |> DataFrame
df2[:, [:accountid, :customerid, :invoice_nbr, :debit, :credit, :descr]]

5×6 typename(DataFrame). Omitted printing of 1 columns
│ Row │ accountid │ customerid              │ invoice_nbr │ debit   │ credit  │
│     │ Int64     │ String                  │ String      │ Float64 │ Float64 │
├─────┼───────────┼─────────────────────────┼─────────────┼─────────┼─────────┤
│ 1   │ 1300      │ Scrooge Investment Bank │ A-1001      │ 1210.0  │ 0.0     │
│ 2   │ 1300      │ Duck City Chronicals    │ A-1002      │ 2420.0  │ 0.0     │
│ 3   │ 1300      │ Donalds Hardware Store  │ A-1003      │ 1210.0  │ 0.0     │
│ 4   │ 1300      │ Duck City Chronicals    │ A-1002      │ 0.0     │ 2420.0  │
│ 5   │ 1300      │ Donalds Hardware Store  │ A-1003      │ 0.0     │ 1210.0  │